@import url('https://');

body {
    background-image: url('../img/bg.jpg');
    background-repeat: repeat;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
}

ul {
    margin: 0;
    padding: 0;
}

/* Navbar */
header {
    min-height: 50px;
    border-bottom: #23DF23 5px solid;
}

header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
    top: 50%;
}

header a {
    color: black;
    font-size: 13px;
    font-weight: 400;
    text-decoration: none;
}

header nav {
    float: right;
    margin-top: 10px;
}

header .brand {
    float: left;
}

header .brand h1 {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    line-height: 50px;
    top: 50%;
}

/* 2 Box 1 Div */
#left {
    margin-top: 50px;
    float: left;
    width: 50%;
    text-align: left;
}

#left h1 {
    font-weight: 800;
    font-size: 32px;
    margin-top: 0;
    margin-bottom: 20px;
}

#left p {
    letter-spacing: 7px;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 0;
    color: darkgray;
}

#left .button {
    background-color: #23DF23;
    color: white;
    border: none;
    border-radius: 14px;
    position: relative;
    height: 40px;
    width: 155px;
}

#left button img{
    width: 18px;
    margin-left: 12px;
    margin-right: 6px;
    vertical-align: middle;
    float: left;
}

#left button p {
    color: white;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: normal;
    float: left;
    margin-top: 0px;
}

#right {
    margin-top: 50px;
    float: right;
    width: 50%;
    text-align: center;
}

#right img {
    max-width: 65%;
    margin-left: 20%;
}

/* Media Queries */
@media(max-width: 768px){
    header #brand,
    header nav,
    header nav li
    {
      float:none;
      text-align:center;
      width:100%;
    }
  
    header{
      padding-bottom:20px;
    }
  
    #main{
        color: white;
    }
}
