@import url('https://');

body {
    background-color: #2F455C;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

.container{
    width: 75%;
    margin: 0 auto;
    overflow: hidden;
}

ul {
    margin: 0;
    padding: 0;
}

/* Navbar */
.nav{
    margin-left: 40px;
    overflow: hidden;
    margin-bottom: 10px;
}

header {
    min-height: 50px;
    border-bottom: #21D0B2 5px solid;
}

header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
    top: 50%;
    color: #21D0B2;
}

header a {
    color: #21D0B2;
    font-size: 13px;
    font-weight: 400;
    text-decoration: none;
}

header button {
    background-color: #21D0B2;
    color: #2F455C;
    font-weight: 800;
    border: none;
    width: 120px;
    height: 30px;
    border-radius: 14px;
}

header nav {
    float: right;
    margin-top: 10px;
}

header .brand {
    float: left;
}

header .brand h1 {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    line-height: 50px;
    top: 50%;
}

header .highlighted {
    color: #34F5C5;
    font-weight: 500;
}

/* 2 Box 1 Div */
#left {
    margin-top: 50px;
    float: left;
    width: 60%;
    text-align: left;
    margin-bottom: 75px;
}

#left h1 {
    font-weight: 800;
    font-size: 32px;
    margin-top: 0;
    margin-bottom: 20px;
    color: #21D0B2;
}

#left p {
    letter-spacing: 7px;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 0;
    color: #34F5C5;
}

#right {
    margin-top: 50px;
    float: right;
    width: 40%;
    text-align: center;
    margin-bottom: 75px;
}

#right img {
    max-width: 80%;
    margin-left: 20%;
}

/* Boxes */
.box {
    float: left;
    text-align: center;
    width: 33%;
}

.box h1 {
    font-size: 18px;
    color: #21D0B2;
    margin: 0 0;
    font-weight: 500;
}

.box p {
    font-size: 14px;
    font-weight: 300;
    color: #34F5C5;
}

.box img {
    width: 40%;
    padding-bottom: 0;
}

/* Media Queries */
@media(max-width: 768px){
    header #brand,
    header nav,
    header nav li
    {
      float:none;
      text-align:center;
      width:100%;
    }
  
    header{
      padding-bottom:20px;
    }
  
    #main{
        color: white;
    }
}
